div.ui.segment {
  padding: 5px;
}

div.ui.button {
  opacity: none;

}

div > img {
  box-shadow: 1px 1px 5px black;
}

li > img {
  box-shadow: 1px 1px 10px black;
  border-radius: 0.1125em;
  height:100%;
}

div.wrap {
  position: fixed;
  bottom:0;
}
